/.phpunit.cache

/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/.zed
/node_modules
# backup
/backup
/executor/*
!/executor/*.exe
!/executor/**/*.exe
tests
.env.real
Git - Kirim ke Github.bat
composer.lock
package-lock.json
#database
# Abaikan semua isi folder database
/database/*
# Kecualikan file siakad.sql agar tetap di-track
!/database/siakad.sql
git commit update.bat
git commit.bat
#public
/public/temp
/public/build
/public/hot
/public/storage
/img/background/*.png
/img/cocard/*.png
/img/foto-kegiatan/*.png
/img/guru/*.png
/img/karpel/*.png
/img/nisn/*.png
/img/siswa/*.png
/img/qrcode/**/*.png
# Server WhatsApp
whatsapp/


#siakad/file/*
#!/siakad/file/rekap #Mengabaikan file tapi folder tetap di bawa
#!/siakad/file/rekap/** #membawa file
