<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # ===============================
    # Proteksi phpMyAdmin
    # ===============================
    # Block akses langsung ke folder phpmyadmin kecuali lewat Laravel route /phpmyadmin
    RewriteCond %{REQUEST_URI} ^/phpmyadmin
    RewriteCond %{HTTP_REFERER} !^https?://(www\.)?localhost/phpmyadmin [NC]
    RewriteRule ^ - [F,L]

    # Send Requests To Front Controller (Laravel)
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
