@charset "UTF-8";
@font-face { font-family:"Arial";font-variant:normal;font-style:normal;font-weight:normal;src:url("#FontID1") format(svg)}
@font-face { font-family:"Arial";font-variant:normal;font-weight:bold;src:url("#FontID0") format(svg)}
.str3 {stroke:#BDBFC1;stroke-width:67.37;stroke-miterlimit:22.9256}
.str1 {stroke:#14572E;stroke-width:67.37;stroke-miterlimit:22.9256}
.str0 {stroke:#9EC335;stroke-width:67.37;stroke-miterlimit:22.9256}
.str2 {stroke:yellow;stroke-width:67.37;stroke-miterlimit:22.9256}
.fil2 {fill:none}
.fil6 {fill:#FEFEFE}
.fil7 {fill:#373435}
.fil4 {fill:#373435}
.fil5 {fill:#FEFAD3}
.fil3 {fill:#FEFAD3}
.fil1 {fill:#EC7E36}
.fil0 {fill:#666666}
.fil8 {fill:black}
.fnt3 {font-weight:normal;font-size:713.04px;font-family:'Arial'}
.fnt2 {font-weight:normal;font-size:950.69px;font-family:'Arial'}
.fnt0 {font-weight:bold;font-size:1188.38px;font-family:'Arial'}
.fnt1 {font-weight:bold;font-size:2001.67px;font-family:'Arial'}
